
h1,h2 {
  margin-top:200px;
  margin-bottom:60px
  border-style: solid;
  border-width: 10px;
  border-color: black;
  padding: 20px;
  text-align: center;
  background-color: cadetblue;
  color: white;
}
